







/*////////////////////////////////////////////index and register////////////////////////////////////////////////////////////*/

body{

  /*   background-color: rgba(167, 159, 164, 0.9);
    background: rgba(167, 159, 164, 0.9);
    color: rgba(167, 159, 164, 0.9);
 */
	
}

.login_box{
	width: 320px;
	height: 380px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 10px;
	
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: calc(50% - 15%);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-family: sans-serif;
}

.login_box p{
	margin: 0;
	padding: 0;
		
}

.inputs{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}


.button{
	position:relative;
	top: 50px;
	width: 100%;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 40px;
	background: #34429e;
	color: #fff;
	font-size: 18px;
	border-radius: 28px;
}

.linkregister{
	position:absolute;
	top: 80%;
	left: 40%;
	width: 100%;
	margin-bottom: 20px;
	color: #fff;
	font-size: 20px;
	
}


p{
	font-weight: bold;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
}



/*///////////////////////////////////////////////////////wellcome//////////////////////////////////////////////////////////////*/



.botonCerrar{
	position:relative;
	top: 10px;
	left: 1800px;
	border: none;
	outline: none;
	height: 40px;
	background: #34429e;
	color: #fff;
	font-size: 18px;
	border-radius: 28px;	
}




/*//////////////////////////////////////////////////////////addproducto////////////////////////////////////////////////////////*/

.contenedor{
	width: 320px;
	height: 380px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 10px;
	
}











