<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<title>Login</title>
	  </h:head>
	  <h:body style="style.css">
	  <ui:composition template="/WEB-INF/index_template.xhtml">
	  	<ui:define name="content">
	  <h:form>
	  <h:outputStylesheet library="css" name="style.css" />
	  <div class="login_box">
	  	<h:graphicImage styleClass="avatar" value="resources/images/avatar.png"/>
	  		<h1>Login Here</h1>
	  				<p>Username</p>	
	 			 <div>
	 				<h:inputText styleClass="inputs" value="#{usuarioBean.nombre}" ></h:inputText>
			 	</div>
	 		 	<div>
	 		 		<p>Password</p>	
	 		 	<h:inputSecret styleClass="inputs" value="#{usuarioBean.clave}"></h:inputSecret>
	 		 	</div>
	 		 <div>
	  			<h:commandButton styleClass="button" value= "Ingresar" action="#{usuarioBean.loggear()}"/>
   	  		 </div>
	  			<h:link styleClass="linkregister" value="Registrate!" outcome="register"/>
	  </div>
	  </h:form>
	 </ui:define>
	 </ui:composition>
  </h:body>
</html>
