<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<title>Wellcome</title>
	  	<link type="text/css" rel="stylesheet"
	  	href="/JavaServerFaces/faces/javax.faces.resource/style.css?ln=css"/>
	  </h:head>
	  <h:body>
	  	<ui:composition template="/WEB-INF/wellcome_template.xhtml">
	  	<ui:define name="content">
	  	<h:form>
	  		<div>
	  		<h1 class="bienvenida"> Wellcome: <h:outputText value="#{usuarioBean.nombre}"></h:outputText> </h1>
	  			
	  		</div>
	  		<h:outputStylesheet library="css" name="style.css"  />
	  		<h:commandButton class="botonCerrar" value="Cerrar" action="#{usuarioBean.cerrar()}"></h:commandButton>
	  		<h:form>
	  		
	  	 	<div>
	  		<h2>Products</h2>
	  			<h:dataTable var="producto" value="#{productoBean.findAll()}" border="1" cellpadding="2" cellspacing="2">
	  				<h:column>
	  					<f:facet name="header">Id</f:facet>
	  						<h:outputText value="${producto.id}"></h:outputText>
	  				</h:column>
	  				<h:column>
	  					<f:facet name="header">Name</f:facet>
	  					<h:outputText value="${producto.nombre}"></h:outputText>
	  				</h:column>
	  				<h:column>
	  					<f:facet name="header">Price</f:facet>
	  					<h:outputText value="${producto.precio}"></h:outputText>
	  				</h:column>
	  			</h:dataTable>	
	  		</div>
	  			</h:form>
	  			<p:growl id="messages" showDetail="true"/>
 
    				<p:menuButton value="Options">
        			<p:menuitem value="Add +" actionListener="#{productoBean.addPage()}" update="messages" icon="ui-icon-new"/>
        			<p:menuitem value="Update" actionListener="#{menuView.update}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
        			<p:menuitem value="Delete" actionListener="#{menuView.delete}" ajax="false" icon="ui-icon-close"/>
        		<p:separator />
        			<p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-extlink"/>
    				</p:menuButton>
	  			</h:form>	
	  	</ui:define>
	  	
	  	<ui:define name="header"><h1>Wellcome</h1>
	  	</ui:define>
	  	</ui:composition>
	  </h:body>
	  </html>
