<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  <h:head>
	  	<title>Login</title>
	  	<f:event listener="#{usuarioBean.usuarioRegistrado()}" type="preRenderView"></f:event>
	  </h:head>
	  <h:body>
	  <ui:insert name = "content">
	  	<h2> Login template</h2>
	  </ui:insert>
	  
	  </h:body>
	  </html>